.profileWrapper {
  border: 2px solid #000;
  border-radius: 10px;
  width: 496px;
  height: 500px;
  margin: 0 auto;
}

.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.profileImage {
  padding: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #413e3e;
}

.profileName {
  font-size: 36px;
  font-weight: 700;
}

.profileText {
  font-size: 24px;
  color: #9b9b9b;
}

.profileList {
  display: flex;
  padding-top: 29px;
}

.profileItem {
  width: calc(100% / 3);
  border-top: 2px solid #8b8b8b;
  height: 100px;
  padding: 15px;
  background-color: #c9c9c9;
}

.profileItem:nth-child(2) {
  border-left: 2px solid #8b8b8b;
  border-right: 2px solid #8b8b8b;
}

.profileItem:last-child {
  border-bottom-right-radius: 10px;
}
.profileItem:first-child {
  border-bottom-left-radius: 10px;
}

.profileItemTitle {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.profileItemText {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
